/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*====================================================================================================================================

                                    project : Backdoor

                                        DEFAULT VALUES USED

                                font used : Roboto Condensed

                                #232323; (buttons, Icons , Links, Lines and backgrounds) 
                                #333 (Headings) 
                                #484848 (Paragraphs)
                                #666, #ccc (Miscellaneous colors used)
                                
====================================================================================================================================*/

/*==================================================================================================================================                                 GENERAL SECTION CSS                                                                                   
===================================================================================================================================*/
/*
@font-face {
    font-family: "BankGothic Lt BT";
    src: url('bank-gothic-light-bt.ttf')
}
*/

html{
/*    overflow: hidden;*/
    height: 100%;
}
html,body{
    height: 100%;
}
body{
/*    font-family: "BankGothic Lt BT", serif;*/
    font-family: "Roboto Condensed", sans-serif;
/*    overflow: auto;*/
    overflow-x: hidden;
}

.bottom-margin{
    margin-bottom: 30px;
}

section{
/*
    width: 100%;
    height: 100%;
*/
    overflow: hidden;
    background: #fff;
}
/*===================================================================================================================================                                    FONT COLOR SETTINGS                                                                               
===================================================================================================================================*/
.text-heading{
/*    color: #333;*/
    color: #C45911;
    text-transform: uppercase;
}
.text-content{
    color: #64707B;
}

.text-heading-white{
    color: #fff;
}

/*----------------------------------------
Pre Loader
----------------------------------------*/
.loader-con {
/*    position: absolute;*/
	position: fixed;
	top: 0;
    right:0;
    bottom:0;
	left: 0;
    margin: auto;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	z-index: 9999;
}
.loader-con .spinner {
  width: 50px;
  height: 50px;
}
.double-bounce1, .double-bounce2 {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #333;
	opacity: 0.6;
	top: 0;
    right:0;
    bottom:0;
	left: 0;
    margin: auto;
	border-radius: 50%;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}









/*----------------------------------------
keyframes animation
----------------------------------------*/

/* PreLoader Animations*/
@-webkit-keyframes sk-bounce {
  0%, 100% { 
    -webkit-transform: scale(0.0); 
            transform: scale(0.0);
  } 50% { 
    -webkit-transform: scale(1.0); 
            transform: scale(1.0);
  }
}
@keyframes sk-bounce {
  0%, 100% { 
    -webkit-transform: scale(0.0); 
            transform: scale(0.0);
  } 50% { 
    -webkit-transform: scale(1.0); 
            transform: scale(1.0);
  }
}

/*===================================================================================================================================                                    PARALLAC IMAGE                                                                                 
===================================================================================================================================*/

.bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}



/*===================================================================================================================================                                    HOME SECTION CSS                                                                                   
===================================================================================================================================*/

.home-section{
    height: 100%;
}

.home-cover{
/*    background-image: url('../img/bg-home.jpg');*/
/*    background: #484848;*/
    height: 100%;   
}

.home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}
.home-content-box-inner{
    display: table-cell;
    vertical-align:bottom;
/*    text-align: center;*/
}

.home-section .text-heading{
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0;
}


.home-btn img{
    max-width: 1500px;
    height: 800px;
    margin: 0 auto;
/*    border: solid 3px #dfdfdf;*/
/*    border-radius: 50%;*/
/*
    -webkit-border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.52);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.52);
*/
    vertical-align: middle;
    display: block;
}

.container-door-image {
  position: relative;

}

.centered-text {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}
.centered-text a{
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    background: #222;
    
}
.centered-text a:hover{
    color: #fff;
    cursor: pointer;
    background: #222;
    border: solid 1px #fff;
}


.typer-parent{
    font-size: 26px;
    color: #bfbfbf;
    font-weight: 500;
    margin-top: -10px;
}
.typer{
    font-size: 26px;
    color: #bfbfbf; 
    font-weight: 500;
}

/*//here*/
.home-bg-video{
    background-size: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    left: 50%;
    position: absolute;
    top: 50%;
}

video{
    display: inline-block;
    vertical-align: baseline;
    -o-object-fit: cover;
       object-fit: cover;
/*    opacity: 0.8;*/
}


#home-overlay{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}









/*===================================================================================================================================                                    CONTACT ME SECTION CSS                                                                                   
===================================================================================================================================*/


.contact-section{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}




.contact-item {
	position: relative;
}
.contact-item:after {
	content: "";
	display: table;
	clear: both;
}
.contact-item .c-icon {
	position: relative;
    top: 6px;
	width: 60px;
	height: 60px;
	float: left;
	background-color: #232323;
	border-radius: 50%;
}
.contact-item .c-icon .fa {
	font-size: 20px;
	line-height: 58px;
	color: #fafafa;
}
.contact-item .c-text {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
}
.contact-item .c-text h5 {
	margin: 0;
	margin-bottom: 2px;
    font-size: 17px;
    text-transform: uppercase;
}
.contact-item .c-text h6 {
	margin: 0;
	word-break: break-all;
}

#contact-form {
	margin-top: 50px;
}
.input-field {
    width: 100%;
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
    outline: none;
}
textarea.input-field {
    height: 190px;
    resize: none;
}
.name-error,
.email-error,
.message-error,
.error {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #ff2828;
}
.success {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #1e9402;
}
#form-message {
    float: left;
    width: 100%;
}
.submit-btn {
	display: block;
	margin: 0 auto;
	padding: 8px 20px;
	font-size: 22px;
/*	font-weight: 700;*/
/*	border: 2px solid #333;*/
	outline: none;
	background-color: #232323;
	color: #fff;
	cursor: pointer;
}
.submit-btn:hover {
	color: #222;
	background-color: #fff;
    border: solid 1px #fff;
}





/*===================================================================================================================================                                    FOOTER SECTION CSS                                                                                   
===================================================================================================================================*/

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #eee;
}
.footer-title {
	display: inline-block;
	margin-bottom: 6px;
    font-size: 22px;
    font-weight: 700;
    color: #111;
}
.footer-social {
    padding: 10px 0;
}
.footer-social-list li {
    display: inline-block;
}
.footer-social-list li a {
    font-size: 20px;
    color: #434343;
    margin: 0 9px;
}
.footer-social-list li a:hover {
	color: #C45911;
}
.footer .copy-text {
    margin: 8px 0;
    font-size: 20px;
    text-transform: capitalize;
}

.scroll-up {
    position: fixed;
	font-size: 28px;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 38px;
    color: #fafafa;
    border: 2px solid #333;
    background-color: #333;
    bottom: 25px;
    right: 30px;
    opacity: 0;
    z-index: 60;
}
.scroll-up:focus {
	color: #fff;
}
.scroll-up:hover {
	background-color: transparent;
	color: #333;
}
.show-up-btn {
	opacity: 1;
}





.btn-black{
    color: #222;
    border-color: #222;
}
.btn-black:hover,
.btn-black:focus{
    background: #C45911;
    color: #FFF;
    border-color: #C45911;
}

.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 0;
    display: none;
}










.effect {
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}









/*responsive css*/

/*LARGE DEVICES*/
@media (min-width: 1200px){
/*    its alreday fine, if found any bug we would add something here*/
    
}

/*MEDIUM DEVICES*/
@media(min-width: 992px) and (max-width: 1199px){
    
    
}

/*SMALL DEVICES: TABLETS*/
@media(min-width: 768px) and (max-width: 991px){
    
}





/*EXTRA SMALL DEVVICES: PHONES*/
@media(max-width: 767px){
    .home-cover .home-heading h3{
        font-size: 34px;
    }
    .home-cover .home-heading h4{
        font-size: 22px;
    }
    .btn-cv{
        font-size: 24px;
        padding: 8px;
    }
    
    .home-btn img{
        width: 700px;
        height: 500px;
        margin: 0 auto;
        margin-left: -160px;
        
    }
    
    .centered-text a{
/*        position: absolute;*/
          top: 68%;
          left: -100%;
  transform: translate(-100%, -20%);
        font-size: 18px;
    }
}
